.contenedor {
    display: flex;
    flex-flow: column;
    height: 100%;

}

mat-sidenav-content {
    flex: 1 1 auto;
}

mat-sidenav {
    max-width: 300px;
}

.padding {
    padding: 10px;
    overflow-x: hidden;
}